<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>Codebreaker<h1>
      </div>
      <div id="body">
        <div id="content">
          <div>
            <% application.prev_results.each do |val| %>
              <%= val %><br/>
            <% end %>
            <% if application.status == 'play' %>
            <form method="post" action="/check">
              <input name="gues" type="text">
              <input type="submit" value="check!">
            </form>
            <% elsif application.status == 'win'%>
              <h1>WIN</h1>
              <h2>
                score: <%= application.score %> points
              <h2>
              <form method="post" action="/save">
                <input name="name" type="text" placeholder="enter your name">
                <input type="submit" value="save!">
              </form>
            <% else %>
              <h1>lose<h1>
            <% end %>
          </div>
          <div id="rules">
            Rules must be here 
          </div>
        </div>
        <div id="viners">
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </div>

      </div>
    </div>
  </body>
</html>