<html>
  <head>
    <title>WEB page</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>You said '<%= 'hello' %>'</h1>
      <p>Say somthing new</p>
      <form method="post" action="/update_word">
        <input name="word" type="text">
        <input type="submit" value="Say!">
      </form>
    </div>
  </body>
</html>