body {
    background-color: #4B7399;
    font-family: Verdana;
    font-size: 14px;
}
#container {
    width: 75%;
    height: 80%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}
#content {
    float: left;
    width: 69%;
    background-color: #FFF;
    border: solid 1px black;
}
#winners {
  width: 30%;
  float: right;
  background-color: #FFF;
  border: solid 1px black;
}

a {
    color: #0000FF;
}

form {
    margin: 5px;
}

